* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.my-own-nav {
  color: green;
}

.my-nav-link {
  /* font-size: 30px */
}

h1 {
  padding: 15px;
}

.menus {
  display: flex;
}
